[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = /home/ghostbar/confs/chaos/vim-fugitive
[submodule "vim/bundle/Conque-Shell"]
	path = vim/bundle/Conque-Shell
	url = git://github.com/vim-scripts/Conque-Shell.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-makegreen"]
	path = vim/bundle/vim-makegreen
	url = git://github.com/reinh/vim-makegreen.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = /home/ghostbar/confs/chaos/vim-coffee-script
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = /home/ghostbar/confs/chaos/snipmate.vim/
[submodule "vim/bundle/mustache.vim"]
	path = vim/bundle/mustache.vim
	url = git://github.com/juvenn/mustache.vim.git
[submodule "vim/bundle/vim-handlebars"]
	path = vim/bundle/vim-handlebars
	url = /home/ghostbar/confs/chaos/vim-handlebars/
[submodule "vim/bundle/vim-brunch"]
	path = vim/bundle/vim-brunch
	url = /home/ghostbar/confs/chaos/vim-brunch/
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
